/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */



.doporucujeme {
    display: flex;
    color: white;
    flex-direction: column;
}


.hlavni-recept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    min-height: 200px;
    padding: 0.5rem;
    margin: 1px;
}


.recept {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    min-height: 90px;
    padding: 0.5rem;
    margin: 1px;
}


.recept-meta{
    font-family: 'Source Sans Pro';
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.hlavni-recept-nazev {
        font-family: 'Raleway';
        font-size: 1.75rem;
        font-weight: 800;
}


.recept-nazev {
        font-family: 'Raleway';
        font-size: 1.2rem;
        font-weight: 800;
}


.hlavni-recept {
    background-image:
    url(images/burger.jpg),
    radial-gradient(transparent 20%, black);
}


.recept2 {
    background-image:
    url(images/sushi.jpg),
     radial-gradient(transparent 20%, black);
}


.recept3 {
    background-image:
    url(images/rajcata.jpg),
    radial-gradient(transparent 20%, black);
}


.recept4 {
    background-image:
    url(images/kure.jpg),
    radial-gradient(transparent 20%, black);
}


.recept5 {
    background-image:
    url(images/grilovani.jpg),
    radial-gradient(transparent 20%, black);
}


/* nastavení pro mobil */
@media screen and (min-width: 360px) {
    .doporucujeme {flex-direction: row; flex-wrap: wrap;}
    .hlavni-recept {min-height: 200px; padding: 1.25rem; flex-basis: 50%;}
    .recept {min-height: 100px; padding: 1.25rem;}
    .sloupec {flex-direction: column; flex-basis:35%;}
    .hlavni-recept-nazev {font-size: 1.75rem;}
    .recept-nazev {font-size: 1.2rem;}

}


/* nastavení pro tablet */
@media screen and (min-width: 480px) {
    .doporucujeme {flex-direction: row; flex-wrap: wrap;}
    .hlavni-recept {min-height: 250px; padding: 1.25rem; flex-basis: 100%;}
    .recept {min-height: 150px; padding: 1.25rem;}
    .sloupec {flex-direction: column; flex-basis:50%;}
    .hlavni-recept-nazev {font-size: 2rem;}
    .recept-nazev {font-size: 1.5rem;}

}



/* nastavení pro PC */
@media screen and (min-width: 860px) {
    .doporucujeme {flex-direction: row; flex-wrap: nowrap;}
    .hlavni-recept {min-height: 400px; padding: 1.25rem;}
    .recept {min-height: 200px; padding: 1.25rem;}
    .sloupec {flex-direction: column; flex-basis:50%;}
    .hlavni-.recept-nazev {font-size: 3rem;}
    .recept-nazev {font-size: 1.75rem;}
}